argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
cffi==2.0.0
packaging==26.0
psycopg2==2.9.11
pycparser==3.0
Pygments==2.19.2
pyqtdarktheme==0.1.7
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
QtPy==2.4.3
shiboken6==6.11.0
superqt==0.8.0
typing_extensions==4.15.0
